
.login-container { margin-top: 15px; background-color: floralwhite; width: 40%; left: 30%; position: relative; }
.login-card { width: 80%; margin: auto; }
.login-form { padding: 10%; }
.authbar{ margin-bottom:15px; }
.nsw-profile {position: absolute; top: 0;right: 50px;}
.nsw-lang-div{float: right;
              color: #fff !important;
              position: absolute;
              top: 0;
              right: 45px;}
.nsw-color-w {font-size: 11px;}
.nsw-text-center{text-align:center;}
.nsw-text-right{text-align:right;}
.nsw-require-field {color:red !important;}
.nsw-text-underline{text-decoration: underline;}
.nsw-flr {float:right;}
.validationMessage{ color:red; font-size: 9pt; }
.nsw-tr {background-image: url(../images/grid-header.png);
         background-repeat: repeat-x;
         background-position: center;
         background-color: #A9CCFF;
         color: #000000;
         height: 32px;
         padding: 3px;
         text-align: center;}
.w50 {width: 50px;}
.w70 {width: 80px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w200 {width: 200px;}
.w250 {width: 250px;}
.w300 {width: 300px;}
.w350 {width: 350px;}
.w400 {width: 400px;}
.w450 {width: 450px;}
.w500 {width: 500px;}
.w50pc {width: 50%}
.input-invaild {border: 1px solid red !important;}
.input-invaild-text {font-size: 9pt; color: red;}
.center-block {margin: 0 auto; width: 50%}
#hanghoa-pager button { margin-right: 6px;}
.tr-nsw1-bgcolor {background-color: #A9CCFF;}
.tenbo_tienganh{ display: none !important; }
.custom-icon-btn {
    height: 35px !important;
    margin: 0px  !important;
    padding: 0px !important;
}
.custom-icon-btn > div {
    margin-top: 8px !important;    
    color: #fff !important;    
    font-weight: 300;
}
.custom-icon-btn .badge {
    color: #fff !important;
    background-color: red !important;
}


ul.simple-pagination {
    list-style: none;
}

.simple-pagination {
    display: block;
    overflow: hidden;
    padding: 0 5px 5px 0;
    margin: 0;
}

.simple-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.simple-pagination li {
    list-style: none;
    padding: 0;
    margin: 0;
    float: left;
}
span.ellipse.clickable {
    cursor: pointer;
}

.ellipse input {
    width: 3em;
}

/*------------------------------------*\
        Compact Theme Styles
\*------------------------------------*/
.compact-theme span {
    cursor:pointer;
}

.compact-theme a, .compact-theme span {
    float: left;
    color: #333;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #AAA;
    border-left: none;
    min-width: 14px;
    padding: 0 7px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.compact-theme a:hover, .compact-theme li:not(.disabled):not(.active) span:hover {
    text-decoration: none;
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #efefef 0%, #bbbbbb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efefef), color-stop(100%,#bbbbbb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* IE10+ */
    background: linear-gradient(top, #efefef 0%,#bbbbbb 100%); /* W3C */
}

.compact-theme li:first-child a, .compact-theme li:first-child span {
    border-left: 1px solid #AAA;
    border-radius: 3px 0 0 3px;
}

.compact-theme li:last-child a, .compact-theme li:last-child span {
    border-radius: 0 3px 3px 0;
}

.compact-theme .current {
    background: #bbbbbb; /* Old browsers */
    background: -moz-linear-gradient(top, #bbbbbb 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bbbbbb), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #bbbbbb 0%,#efefef 100%); /* W3C */
    cursor: default;
}

.compact-theme .ellipse {
    background: #EAEAEA;
    padding: 0 10px;
    cursor: default;
}

/*------------------------------------*\
        Light Theme Styles
\*------------------------------------*/
.light-theme span {
    cursor:pointer;
}

.light-theme a, .light-theme span {
    float: left;
    color: #666;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #efefef; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 0%, #efefef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#efefef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #ffffff 0%,#efefef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #ffffff 0%,#efefef 100%); /* IE10+ */
    background: linear-gradient(top, #ffffff 0%,#efefef 100%); /* W3C */
}

.light-theme a:hover, .light-theme li:not(.disabled):not(.active) span:hover {
    text-decoration: none;
    background: #FCFCFC;
}

.light-theme .current {
    background: #666;
    color: #FFF;
    border-color: #444;
    box-shadow: 0 1px 0 rgba(255,255,255,1), 0 0 2px rgba(0, 0, 0, 0.3) inset;
    cursor: default;
}

.light-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

/*------------------------------------*\
        Dark Theme Styles
\*------------------------------------*/
.dark-theme span {
    cursor:pointer;
}

.dark-theme a, .dark-theme span {
    float: left;
    color: #CCC;
    font-size:14px;
    line-height:24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #222;
    min-width: 14px;
    padding: 0 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    background: #555; /* Old browsers */
    background: -moz-linear-gradient(top, #555 0%, #333 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#555), color-stop(100%,#333)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #555 0%,#333 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #555 0%,#333 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #555 0%,#333 100%); /* IE10+ */
    background: linear-gradient(top, #555 0%,#333 100%); /* W3C */
}

.dark-theme a:hover, .dark-theme li:not(.disabled):not(.active) span:hover {
    text-decoration: none;
    background: #444;
}

.dark-theme .current {
    background: #222;
    color: #FFF;
    border-color: #000;
    box-shadow: 0 1px 0 rgba(255,255,255,0.2), 0 0 1px 1px rgba(0, 0, 0, 0.1) inset;
    cursor: default;
}

.dark-theme .ellipse {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
}

.overlay {
    opacity:0.05;
    background-color:#ccc;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
}
#loading10{
    position: fixed;
    z-index: 1000000;
    width: 140px;
    background: white;
    right: 48%;
    bottom: 50%;
    border-radius: 5px;
    text-align: center;
    height: auto;
    padding: 5px;
    box-sizing: border-box;
    border: solid 1px #f0f0f0;
    display: none;
}
#loading10 img{
    display: block;
    margin: 0 auto;
    height: 32px;
    width: 32px;
}
#loading10 div{
    width: 100%;
    text-align: center;
    color : #3598dc;
}

.search-container {
    float: right;
}

.search-container button {
    float: right;
    padding: 6px 10px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}

search-container input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
}
