<form class="form-horizontal">
    <div class="form-group">
        <div class="col-sm-12">
            Bạn phải cân nhắc trước thực hiện thao tác này. Thao tác này không thể thực hiện lại!
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            Lý do
            <span class="nsw-require-field">*</span>
        </div>
        <div class="col-sm-12">
            <textarea class="form-control"
                      data-bind="value: note"/>
        </div>
    </div>
</form>